:root {
  --black-hover: rgba(1, 1, 1, 0.55);
  --black: rgba(1, 1, 1, 0.75);
}

body {
  font-family: "Dosis", sans-serif;
  min-height: 100vh;
}
/* Conteiner Principal */
#conteiner {
  background-image: url(../assets/img/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  background-size: cover;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
}
/* Itens De Contato */
.contact-item a {
  border: 2px solid var(--black);
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  color: var(--black);
  position: relative;
  padding: 14px 16px;
  border-radius: 5px;
  transition: 0.155s;
  display: flex;
  width: 260px;
  height: 60px;
}
@media (max-width: 300px) {
  .contact-item a {
    width: 200px;
  }
}
@media (max-width: 200px) {
  .contact-item a {
    width: 160px;
  }
}
/* Hover */
.contact-item a:hover {
  border-color: var(--black-hover);
  color: var(--black-hover);
  transform: scale(1.035);
}
.contact .contact-item + .contact-item {
  margin: 35px 0px;
}
/* Imagens dos Itens de Contato */
.contact-item svg {
  position: absolute;
  font-size: 32px;
  left: 7.5%;
}
@media (max-width: 210px) {
  .contact-item svg {
    display: none;
  }
}
/* Paragrafos Dos Itens de Contato */
.contact-item p {
  letter-spacing: 0.05em;
  font-size: 1.625em;
}
